body{
  background-color: black
  font-familyï¼š Arial, Helvetica, sans-serif;
  margin: 0;
  color: black;
}

.container{
  width: 70%;
  margin: auto;
  padding: 18px;
}

h1{
  color: silver;
  margin-top: 20px;
}

h2{
  color: rgb(170, 0, 0);
  margin-top: 40px;
  border-bottom: 1px solid rgb(127, 0, 0);
  padding-bottom: 8px
}

#Byline{
  color: rgb(170, 0, 0);
  margin-bottom: 15px;
}

p{
  line-height: 1.5;
}


.embed-box{
  border: 2px solid rgb(127, 0, 0);
  padding: 12px;
  margin-top: 12px;
}

.embed-title{
  font-size: 0.95em;
  color: silver;
  margin-bottom: 8px;
}

.big-quote{
  font-size: 1.2em;
  border-left: 4px solid rgb(127, 0, 0);
  padding-left: 10px;
}


#credit{
  font-size: 0.8em;
  opacity: 0.85;
}

/* for phones */
@media (orientation: portrait){
  .container{
    width: 95%;
  }

  body{
    font-size: 1.15em;
  }
}
